<div class="section background-about-us" id="about-us">
  <div class="w-full h-full flex flex-col justify-center pb-12">
    <div class="custom-container-opacity pb-10">
      <h1 class="custom-text-green">ABOUT US</h1>
      <div class="flex justify-center mt-4" data-aos="fade-up" data-aos-duration="600">
        <div class="custom-container-opacity custom-card-bordered mb-0">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis nulla hendrerit tellus pharetra
            suscipit. Duis mollis erat id diam bibendum consectetur. Nunc vehicula risus sed ligula feugiat placerat.
            Integer eu varius massa. Curabitur ac suscipit eros. Etiam aliquet euismod finibus. Praesent lobortis
            aliquet pellentesque. Suspendisse at metus pulvinar, consectetur sapien nec, sagittis ligula. Nunc sit amet
            lacinia nisi. Quisque pulvinar felis non ante tempor laoreet vitae non nisl. Duis volutpat mi velit, vitae
            rhoncus est ultricies vitae. Aliquam porta porta mi ut rutrum.
          </p>
          <p class="pt-4">
            Nulla facilisi. Praesent convallis elit ac velit suscipit ornare. Vivamus bibendum nulla turpis, sed blandit
            ligula vulputate eget. Vestibulum consequat, leo et dignissim tempor, felis arcu porta dui, et viverra velit
            est eu enim. Quisque id diam pharetra, sollicitudin ante eu, tristique lorem. Cras nulla justo, fermentum
            non ultrices eget, cursus ac elit. Suspendisse consequat hendrerit ligula at fermentum. Nam vel lacus vitae
            odio semper pellentesque non eget ipsum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
