<div class="section parallax mt-12 background-contacts" id="servizi">
  <div class="w-full h-full flex flex-col justify-center pb-12">
    <div class="custom-container-opacity pb-10">
      <h1 class="custom-text-green">Servizi</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">

        <div class="flex justify-center">
          <div class="custom-container custom-card-bordered mb-0">
            <h2 class="section-title mb-2 sm:mb-8 text-center">Dettaglio Contatto</h2>
            <div class="section-item flex gap-4 justify-between items-center">
              <i class="fas fa-envelope-open-text fa-2x"></i>
              <p><a href="mailto:info@ergomedica.it">info@ergomedica.it</a></p>
            </div>
            <div class="section-item flex gap-4 justify-between items-center mt-4">
              <i class="fas fa-phone-alt fa-2x"></i>
              <p><a href="tel:+393318194767">+39 3318194767</a></p>
            </div>
            <div class="section-item flex gap-4 justify-between items-center mt-4">
              <i class="fab fa-whatsapp fa-2x"></i>
              <p><a href="tel:+393318194767">+39 3318194767</a></p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

